body
{
  margin: 0;
  padding: 0;
}

/* ***Navbar*** */
.logo-web
{
  color: aliceblue;
  font-weight: bold;
  font-size: x-large;
}
.bg-navbar
{
  background-color: rgb(136, 78, 160);
}
.nav-item
{
  font-size: 20px;
}
.active-menu-navbar
{
  font-weight: bold;

}

.btn-delete-user
{
  cursor: pointer;
  color: rgb(109, 109, 109);
}
.btn-delete-user:hover
{
  font-weight: bold;
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.btn-edit-user
{
  cursor: pointer;
  color: rgb(109, 109, 109);
}
.btn-edit-user:hover
{
  font-weight: bold;
  text-decoration: underline;
  color: rgb(0, 0, 0);
}