body
{
  margin: 0;
  padding: 0;
}

/* ***Navbar*** */
.logo-web
{
  color: aliceblue;
  font-weight: bold;
  font-size: x-large;
}
.bg-navbar
{
  background-color: rgb(136, 78, 160);
}
.nav-item
{
  font-size: 20px;
}
.active-menu-navbar
{
  font-weight: bold;

}